.signup_canidate_btn {
    border-radius: 1rem 0 0 1rem;
    border-style: solid;
    border-width: 0.125rem 0 0.125rem 0.125rem;
    border-color: #B8DEF3;
    cursor: pointer;
    text-transform: capitalize;
    font-family: var(--font-family-Urbanist);
    font-size: 1.25rem;
    color: var(--color-text);
    width: 14.3125rem;
    height: 4.125rem;
}

.signup_company_btn {
    border-radius: 0 1rem 1rem 0;
    border-style: solid;
    border-width: 0.125rem 0.125rem 0.125rem 0;
    border-color: #B8DEF3;
    cursor: pointer;
    text-transform: capitalize;
    font-family: var(--font-family-Urbanist);
    font-size: 1.25rem;
    color: var(--color-text);
    width: 14.3125rem;
    height: 4.125rem;
}

.btn_active {
    background: linear-gradient(89.95deg, rgba(50, 177, 38, 0.3) 1.99%, rgba(36, 162, 233, 0.3) 85.34%, rgba(36, 162, 233, 0.3) 104.58%);
}