@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
  --font-family-Comfortaa: 'Comfortaa', sans-serif;
  --font-family-Urbanist: 'Urbanist', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: white;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #19177E;
  --color-subtext: #FF8A71;
}
